<div class="container">
  <h2>{{idea.title}}</h2>
  <p>By: {{idea}}</p>
  <p>{{idea.details}}</p>
  <p>{{idea.date}}</p>
  <div{{idea}}></div>
</div>

<div class="container">
  <a href="/">Back to List</a>
</div>